@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 13px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.099);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-green);
  border-radius: 30px;
}
:root {
  --primary-yellow: hsl(59, 82.5%, 57.5%);
  --primary-green: hsl(104, 44.2%, 52.9%);
  --yellow: rgba(252, 211, 65);
  --green: #19a47d;

  --container-width-lg: 95%;

  --transition: all 400ms ease;
  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";
}

/* fonts */
@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Light.woff2) format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets//fonts//roboto/Roboto-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Black.woff2) format(woff2);
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Light.woff2) format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Bold.woff2);
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GENERAL STYLES */

html,
#root,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: var(--font-family-poppins);
  background: white;
  color: var(--dark-text);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.mtop {
  margin-top: 2rem;
}
