@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.099);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 0;
}
:root {
  --primary-yellow: hsl(59, 82.5%, 57.5%);
  --primary-green: hsl(104, 44.2%, 52.9%);
  --yellow: rgba(252, 211, 65);

  --green: hsl(163, 74%, 37%);
  --army-brown: hsl(0, 56.6%, 44.3%);

  --container-width-lg: 95%;

  --transition: all 400ms ease;
  --font-family-poppins: "Poppins";
  --font-family-roboto: "Roboto";

  --black: rgba(0, 0, 0);
  --dim-black: rgb(29, 30, 43);
  --light-black: rgb(35, 43, 59);
  --dim-white: hsl(240, 100%, 99%);
  --yellow: rgba(252, 211, 65);
  --pink: var(--green);
  --dimpink: var(--yellow);
  --white: rgb(255, 255, 255);
  --smoke-white: #f5f5f5;
  --dark-text: #333;

  --btn1-background: var(--dim-white);
  --btn1-box-shadow: 0px 5px 5px rgba(253, 0, 211, 0.1);
  --btn1-border-radius: 30px;

  --btn2-background: var(--pink);
  --btn2-box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  --btn2-border-radius: 30px;

  --hero-text-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px var(--dim-black);

  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
}

/* fonts */
@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Light.woff2) format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets//fonts//roboto/Roboto-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(./Assets/fonts/roboto/Roboto-Black.woff2) format(woff2);
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Light.woff2) format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url(./Assets/fonts/poppins/Poppins-Bold.woff2);
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GENERAL STYLES */

html,
#root,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: var(--font-family-poppins);
  background: white;
  color: var(--dark-text);
}

.box_shadow {
  padding: 3rem;
  box-shadow: 0px 10px 20px 5px rgb(40 40 46 / 10%),
    0px 6px 4px rgb(92 78 78 / 25%);
  border-radius: 10px;
}

.box_shadow-2 {
  background: white;

  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 11%);

  border-radius: 10px;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.4s all ease;
  cursor: pointer;
  color: var(--pink);
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.btn_shadow:hover {
  background: var(--dimpink);
  color: white;
  transform: translateY(-10px);
}

.overlay::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.overlay2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.83%,
    rgba(0, 0, 0, 0.67) 66.25%
  );
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.mtop {
  margin-top: 2rem;
}
